// @import "./vars";
// .navbar{
//     padding-top:0 !important;
// }
// .TopBarComponent {
//     $top-bar-height: 75px;
//     position: relative;
//     height: $top-bar-height;
//     width: 100%;

//     .TopBar {
//         height: $top-bar-height;
//         padding: 12px;
//         background-image: linear-gradient(to right, #4cafff, #2e93e6);
//         z-index: 200;
//         width: 100%;
//         .container {
//             position: relative;
//             .navbar-brand {
//                 opacity: 0;
//                 position: absolute;
//                 left: 0;
//                 top: 0;
//                 display: block;
//                 height: 50px;
//                 line-height: 50px;
//                 img{
//                     display: inline-block;
//                     vertical-align: baseline;
//                 }
//                 padding-left: inherit;
//                 padding-right: inherit;
//                 transition: opacity 0.25s ease-in-out;
//                 @media (max-width: $small-max-width) {
//                     padding-left: 5px;
//                     padding-right: 5px;
//                 }
//             }
//             .search-bar-wrapper {
//                 position: absolute;
//                 right: 0;
//                 left: 0;
//                 padding-left: inherit;
//                 padding-right: inherit;
//                 transition: left 0.2s ease-in;
//                 @media (max-width: $small-max-width) {
//                     padding-left: 5px;
//                     padding-right: 5px;
//                 }
//             }
//         }
//     }

//     .fixed-top.TopBar {
//         position: fixed;
//         top: 0;
//         right: 0;
//         left: 0;
//         .container {
//             .navbar-brand {
//                 opacity: 1;
//             }
//             .search-bar-wrapper {
//                 left: 90px !important;
//             }
//         }
//     }
// }

@import "./_vars.scss";

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .container{
        .nav-buttons{
            .btn:first-child{
               margin-right: 10px;
            }
        }
    }
}

.TopBarComponent {
    $top-bar-height: 75px;
    position: relative;
    height: $top-bar-height;
    width: 100%;

    .TopBar {
        height: $top-bar-height;
        padding: 12px;
        width: 100%;
        background-image: linear-gradient(to right, #4cafff, #2e93e6);
        z-index: 200;

        .container {
            position: relative;

            .navbar-brand {

                position: absolute;
                left: 0;
                top: 0;
                display: block;
                height: 50px;
                line-height: 50px;

                h2 {
                    width: 88px;
                    height: 22px;
                    display: inline-block;
                    vertical-align: baseline;
                }

                img {
                    width: 88px;
                    height: 22px;
                    display: inline-block;
                    vertical-align: baseline;
                }

                padding-left: inherit;
                padding-right: inherit;
                transition: opacity 0.25s ease-in-out;

                @media (max-width: $small-max-width) {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }

            .search-bar-wrapper {
                position: absolute;
                right: 0;
                left: 0;
                padding-left: inherit;
                padding-right: inherit;
                transition: left 0.2s ease-in;

                @media (max-width: $small-max-width) {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }


    // .fixed-top.TopBar {
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     .container {
    //         .navbar-brand {
    //             opacity: 1;
    //         }
    //         .search-bar-wrapper {
    //             left: 90px;
    //         }
    //     }
    // }
}