 

svg.svg-inline--fa.fa-angle-right,svg.svg-inline--fa.fa-angle-left{
    color: rgba(0, 0, 0, 0.151);
    height: 35px;
    :hover{
        color:  rgba(0, 0, 0, 0.377);
    }
    // height: 25px;
}